---

- name: install the gpg key for nodejs LTS
  become: true
  apt_key:
    url: https://deb.nodesource.com/gpgkey/nodesource.gpg.key
    state: present

- name: install the nodejs LTS repos
  become: true
  apt_repository:
    repo: deb https://deb.nodesource.com/node_13.x stretch main
    state: present

- name: install nodejs
  become: true
  apt:
    update_cache: yes
    pkg:
      - nodejs
    state: present
