[Unit]
Description=Run cdnjs-bot2.service

[Timer]
Unit=cdnjs-bot2.service
# every 30 mins
OnUnitActiveSec=30min

[Install]
WantedBy=multi-user.target
