[Unit]
Description=cdnjs autoupdate bot - version 2
ConditionPathExists=!/cdnjs-sven/cdnjs-bot.lock

[Service]
ExecStart=/home/sven/autoupdate
User=sven
Group=sven
Environment=BOT_BASE_PATH={{ bot_base_path }}
Environment=DEBUG=1

[Install]
WantedBy=multi-user.target
