[Unit]
Description=cdnjs autoupdate bot

[Service]
ExecStart=/usr/local/bin/autoupdate
KillMode=mixed
TimeoutStopSec=20min
User=sven
Group=sven
Environment=BOT_BASE_PATH={{ bot_base_path }}
Environment=METRICS_TOKEN={{ bot_metrics_token }}
Environment=DEBUG=1
Environment=SENTRY_DSN={{ sentry_dsn }}
Environment=WORKERS_KV_FILES_NAMESPACE_ID={{ workers_kv_files_namespace_id }}
Environment=WORKERS_KV_PACKAGES_NAMESPACE_ID={{ workers_kv_packages_namespace_id }}
Environment=WORKERS_KV_VERSIONS_NAMESPACE_ID={{ workers_kv_versions_namespace_id }}
Environment=WORKERS_KV_ACCOUNT_ID={{ workers_kv_account_id }}
Environment=WORKERS_KV_API_TOKEN={{ workers_kv_api_token }}

[Install]
WantedBy=multi-user.target
