[Unit]
Description=cloudflared service
After=syslog.target network-online.target

[Service]
Type=simple
User=sven
ExecStart=/usr/local/bin/cloudflared tunnel run
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
